@model IEnumerable<ProjectManager.Models.ProjectStatus>
@{
    ViewBag.Title = "專案階段";
}
<a href="~/ProjectStatus/Insert" class="btn btn-info">新增專案階段</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>專案階段編號</th>
            <th>專案階段名稱</th>
            <th>修改</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _projectstatus in Model)
        {
            <tr>
                <td>@_projectstatus.ProjectStatusID</td>
                <td>@_projectstatus.ProjectStatusName</td>
                <td><a href="~/ProjectStatus/Edit/@_projectstatus.ProjectStatusID" class="btn btn-info">修改</a></td>
                <td><a href="~/ProjectStatus/Delete/@_projectstatus.ProjectStatusID" class="btn btn-danger">刪除</a></td>
            </tr>
        }

    </tbody>
</table>


