
@{
    ViewBag.Title = "專案報表";
}

@section nav{
    @Html.Partial("_PartialPageNav", "Shared")
}
@section style{
<style>
    .font-style { 
        font-family: "Noto Sans CJK TC"; 

    }
</style>
}
<div class="row font-style" >
    <div class="col-6">
        <div id="RootTasksCompletedRateContainer" class="chart-container bg-light p-3">
            <canvas id="RootTasksCompletedRateChart"></canvas>
        </div>
    </div>
    <div class="col-6">
        <div id="RootTasksSumOfWorkTimeContainer" class="chart-container bg-light p-3">
            <canvas id="RootTasksSumOfWorkTimeChart"></canvas>
        </div>
    </div>
</div>


@section script{
    <script src="~/Scripts/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            Chart.defaults.global.defaultFontFamily = 'Noto Sans CJK TC';
            Chart.defaults.global.defaultFontSize = 16;
            Chart.defaults.global.tooltips.titleFontStyle = 'normal';
            BuildRootTasks_CompletedRateChart();

            GetRootTasks_SumOfWorkTimeChart();

            function BuildRootTasks_CompletedRateChart() {
                $.getJSON("@Url.Action("RootTasksCompletedRate", "ProjectDetails")", null, function (datas) {
                    var TasksCompletedRateChart = new Chart($('#RootTasksCompletedRateChart'), {
                        type: 'horizontalBar',
                        data: datas,
                        options: {
                            elements: {
                                rectangle: {
                                    borderWidth: 0,
                                }
                            },
                            responsive: true,
                            legend: {
                                position: 'bottom',
                            },
                            title: {
                                display: true,
                                text: '根工作項目完成度',
                                fontSize: 20,
                                padding: 10,
                            },
                            scales: {
                                yAxes: [{
                                    gridLines: { display: false },
                                    fontSize: 16
                                }],
                                xAxes: [{
                                    gridLines: { display: true },
                                    ticks: {
                                        min: 0,
                                        max: 100,
                                        stepSize: 10,
                                        //callback: function (value, index, values) {
                                        //    return value + '%';
                                        //}
                                    }
                                }]
                            },
                            tooltips: {
                                yPadding: 10,
                                xPadding: 10,
                                bodySpacing: 10,
                                //callbacks: {
                                //    afterLabel: function (tooltipItem, chart) {
                                //        return "%";
                                //    }
                                //},
                            }
                        }
                    });
                });
            }
            function GetRootTasks_SumOfWorkTimeChart(){
                $.getJSON("@Url.Action("RootTasksEstWorkTimeSum", "ProjectDetails")", null, function (datas) {
                    var TasksSumOfWorkTimeChart = new Chart($('#RootTasksSumOfWorkTimeChart'), {
                        type: 'doughnut',
                        data: datas,
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: '根工作項目工時總數',
                                fontSize: 20,
                                padding: 10,
                            },
                            animation: {
                                animateScale: true,
                                animateRotate: true
                            }
                        }
                    });
                });
            }

        });
    </script>
    <style>
    </style>
}