
@{
    ViewBag.Title = "專案報表";
}

@section nav{
    @Html.Partial("_PartialPageNav", "Shared")
}
@section style{
<style>
    .font-style { 
        font-family: "Noto Sans CJK TC"; 

    }
</style>
}
<div class="row font-style" >
    <div class="col-6">
        <div id="RootTasksCompletedRateContainer" class="chart-container bg-light p-3">
            <canvas id="RootTasksCompletedRateChart"></canvas>
        </div>
    </div>
    <div class="col-6"></div>
</div>


@section script{
    <script src="~/Scripts/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            Chart.defaults.global.defaultFontFamily = 'Noto Sans CJK TC';

            var RootTasksChart = $('#RootTasksCompletedRateChart');
            var RootTasksCompletedRateData;
            GetRootTasksCompletedRateData();

            function GetRootTasksCompletedRateData() {
                $.getJSON("@Url.Action("RootTasksCompletedRate", "ProjectDetails")", null, function (datas) {
                    var TasksCompletedRateChart = new Chart(RootTasksChart, {
                        type: 'horizontalBar',
                        data: datas,
                        options: {
                            elements: {
                                rectangle: {
                                    borderWidth: 0,
                                }
                            },
                            responsive: true,
                            legend: {
                                position: 'bottom',
                            },
                            title: {
                                display: true,
                                text: '根工作項目完成度',
                                fontSize: 16
                            },
                            scales: {
                                yAxes: [{
                                    gridLines: { display: false }
                                }],
                                xAxes: [{
                                    gridLines: { display: true },
                                    ticks: {
                                        min: 0,
                                        max: 100,
                                        stepSize: 10
                                    }
                                }]
                            },
                            
                        }
                    });
                });
            }

        });
    </script>
    <style>
    </style>
}