@model IEnumerable<ProjectManager.Models.JobTitle>
@{
    ViewBag.Title = "Index";
}

<h2>職稱</h2>

<a href="~/JobTitle/Insert" class="btn btn-warning">新增職稱</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>職稱編號</th>
            <th>職稱姓名</th>
            <th>修改</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _jobTitle in Model)
        {
            <tr>
                <td>@Html.DisplayFor(p => _jobTitle.TitleID)</td>
                <td>@Html.DisplayFor(p => _jobTitle.TitleName)</td>
                <td><a href="~/JobTitle/Edit/@_jobTitle.TitleGUID" class="btn btn-primary">修改</a></td>
                <td><a href="~/JobTitle/Delete/@_jobTitle.TitleGUID" class="btn btn-danger">刪除</a></td>
            </tr>
        }

    </tbody>
</table>