@using ProjectManager.Models;
@{
    ViewBag.Title = "專案表現評分";
}

<div class="container" style="height:200px">
    <div class="row">
        <div class="col-6">
            @foreach (var item in (List<Project>)ViewBag.InProgress)
            {
            <div class="alert alert-info" role="alert">

                @foreach (var _member in ViewBag.GroupMember as List<IGrouping<string, ProjectMembers>>)
                {
                    if (item.ProjectName == _member.Key)
                    {
                    <img src="~/image/avatar.png" class="rounded-circle img-thumbnail" style="float:right;width:40px"/>
                    }
                }
                    <h4 class="alert-heading">@item.ProjectName</h4>
                    <p>@item.ProjectStatus.ProjectStatusName</p>
                    <hr>
                    <p class="mb-0"></p>
                </div>
            }
        </div>
        <div class="col-6">
            @foreach (var item in (List<Project>)ViewBag.Closed)
            {
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">@item.ProjectName</h4>
                    <p>@item.ProjectStatus.ProjectStatusName</p>
                    <hr>
                    <p class="mb-0"></p>
                </div>       
            }           
        </div>
    </div>
</div>
    