@model ProjectManager.Models.ProjectMemberScoreVM
@{
    ViewBag.Title = "評分";
}

<h2>Score</h2>
<h1>ViewModel Test</h1>

@*@foreach (var item in Model.GetMemberCount)
{
    <p>@item.Count</p>
}


@foreach (var item in Model.GroupMember)
{
    foreach (var i in item.value)
    {
        <p>@i.Employee.EmployeeName</p>
    }
}*@


