@model ProjectManager.Models.ProjectMemberScoreVM
@{
    ViewBag.Title = "第二階段評分";
}

<div class="container">
        <div class="card">
            <h5 class="card-header">細項表單</h5>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>員工姓名</th>
                            <th>部門</th>
                            <th>職稱</th>
                            <th>工作平均分數</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GroupMemberTaskScore)
                        {
                            <tr>
                                <td>@item.Key</td>
                                <td>@item.value.Where(p => p.Employee.EmployeeName == item.Key).Select(p => p.Employee.Department.DepartmentName).FirstOrDefault()</td>
                                <td>@item.value.Where(p => p.Employee.EmployeeName == item.Key).Select(p => p.Employee.JobTitle.TitleName).FirstOrDefault()</td>
                                <td>@item.Avg</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
</div>
