
@{
    ViewBag.Title = "成員評分細項";
}

<h2>Watch</h2>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">表現最高占比</div>
                <div class="card-body">
                    <h5 class="card-title">25%</h5>
                    <p class="card-text">幾個員工</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">表現平均之上占比</div>
                <div class="card-body">
                    <h5 class="card-title">50%</h5>
                    <p class="card-text">幾個員工</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">表現平均之下占比</div>
                <div class="card-body">
                    <h5 class="card-title">25%</h5>
                    <p class="card-text">幾個員工</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">尚未評分占比</div>
                <div class="card-body">
                    <h5 class="card-title">0%</h5>
                    <p class="card-text">幾個員工</p>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>團隊成員</th>
            <th>平均</th>
            <th>表現等級</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Michael</td>
            <td>80</td>
            <td>普通</td>
        </tr>
    </tbody>
</table>

