@model IEnumerable<ProjectManager.Models.ProjectCategory>
@{
    ViewBag.Title = "專案類型";
}

<a href="~/ProjectCategory/Insert" class="btn btn-warning">新增專案類型</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>專案類型編號</th>
            <th>專案類型名稱</th>
            <th>修改</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var projectCategory in Model)
        {
        <tr>
            <td>@projectCategory.ProjectCategoryID</td>
            <td>@projectCategory.ProjectCategoryName</td>
            <td><a href="~/ProjectCategory/Edit/@projectCategory.ProjectCategoryID" class="btn btn-info">修改</a></td>
            <td><a href="~/ProjectCategory/Delete/@projectCategory.ProjectCategoryID" class="btn btn-danger">刪除</a></td>
        </tr>
        }

    </tbody>
</table>
