@model Project.Models.ProjectCategory
@{
    ViewBag.Title = "Insert";
}

<h2>新增專案類型</h2>
<form method="post" action="~/ProjectCategory/Insert" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">專案類型名稱</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(p => p.ProjectCategoryName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">新增</button>
        </div>
    </div>
</form>

