
@{
    ViewBag.Title = "修改密碼";
}

<h2>Edit</h2>
<form method="post" action="~/Members/_Edit" class="form-horizontal">

    <div class="form-group">
        <label class="col-md-2 control-label">舊密碼</label>
        <div class="col-md-2">
            <input type="hidden" name="MemberGUID" value="@ViewBag.id" />
            <input type="password" name="Password"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">新密碼</label>
        <div class="col-md-2">
            <input type="password" name="NewPassword" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">確認密碼</label>
        <div class="col-md-2">
            <input type="password" name="RepeatPassword"/>
        </div>
    </div>
    <p>@ViewBag.msg</p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-info">確認</button>
            <a href="~/Employees/Index" class="btn btn-dark">取消</a>
        </div>
    </div>
</form>

