@model IEnumerable<ProjectManager.Models.DisplayResource>
@{
    ViewBag.Activity = "成本管理";
    ViewBag.Title = "費用管理";
}

@section style{
    <style>
        table {
            background-color: white
        }

        thead {
            background-color: darkcyan;
            color: white;
            text-align: center;
        }

        .border-info {
            border: 3px solid #72bee1 !important
        }

        td > p {
            outline: none;
            min-height: 20px;
        }
    </style>
}
<div>
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="ProjectID">專案編號：</label>
            </div>
            <div>
                <input class="form-control" id="ProjectID" name="ProjectID" placeholder="請輸入專案編號" style="width:9em" type="text" value="">
                <div style="display:none">
                    <ul>
                        <li>
                            <div id="showProjectID"></div>
                            <div id="showProjectName"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group ml-3">
            <div class="input-group-prepend">
                <lable class="input-group-text" for="RequiredDeptGUID">需求部門：</lable>
            </div>
            @{
                SelectList Departments = new SelectList(ViewBag.Departments, "DepartmentGUID", "DepartmentName");
            }
            @Html.DropDownList("RequiredDeptGUID", Departments, "請選擇部門", new { @class = "custom-select" })
        </div>
        <div class="form-group ml-3">
            <div class="input-group-prepend">
                <lable class="input-group-text" for="Select_ProjectName">專案名稱：</lable>
            </div>
            <select id="Select_ProjectName" class="custom-select"></select>
        </div>

        @*<button id="btn_SelectProject" type="button" class="btn btn-info" data-toggle="modal" data-target="#SelectProjectModal"><i class="fas fa-list-ul"></i></button>*@
    </form>
</div>

<div id="result" class="mt-3" style="display:none">
    <span id="sp_ProjectName"></span>
    <span>中的費用，共有</span>
    <span id="Count_of_Resources"></span>
    <span>筆。</span>
</div>

<div id="PartialView" class="mt-3">
</div>

<div class="modal fade" style="top:50px;" id="DeleteCatModal" tabindex="-1" role="dialog" aria-labelledby="DeleteCatModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius:3px 4px;">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteCatModalLabel">確認要刪除這筆資料嗎?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl>
                    <dt>費用名稱:</dt>
                    <dd style="margin-left:20px" id="dd_CategoryName"></dd>
                    <dt>說明:</dt>
                    <dd style="margin-left:20px" id="dd_Description"></dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btn_ConfirmDelete" class="btn btn-danger">確認刪除</button>
            </div>
        </div>
    </div>
</div>
@section asideRight{
    <div id="AddTaskResources">

    </div>
    }

@section script{
    <script>
        $(document).ready(function ()
        {
            function LoadProjects()
            {
                var optionlabel = $("<option></option>").text("請選擇專案");
                $("#Select_ProjectName").html(optionlabel);
                $("#result").hide();

                $.getJSON("/Cost/GetProjectListByDptID", { DepartmentID: $("#RequiredDeptGUID").val() }, function (projects)
                {
                    console.log(projects.length);
                    var docFrag = $(document.createDocumentFragment());
                    docFrag.append(optionlabel);
                    $.each(projects, function (index, project)
                    {
                        var opt = $("<option></option>").text(project.ProjectName).val(project.ProjectID).attr("data-projectguid", project.ProjectGUID);
                        docFrag.append(opt);
                    });
                    $("#Select_ProjectName").html(docFrag);
                });
            }

            LoadProjects();

            $("#RequiredDeptGUID").change(LoadProjects);

            $("#Select_ProjectName").change(function ()
            {
                var opt = $("#Select_ProjectName>:selected");
                $("#ProjectID").val(opt.val());
                $("#sp_ProjectName").text(opt.text());
                $("#PartialView").load("/Cost/GetTaskResources/" + opt.data('projectguid'), function ()
                {
                    $("#Count_of_Resources").text($("#tb_TaskResources").data("count"));
                    Binding();
                });
                $("#result").show();
            });

            function Binding()
            {
                $("#tb_TaskResources>tbody").on("click", ":button[name='btn_edit']", Update);
                var flag = false;
                function Update()
                {
                    var CatIDCell = $(this).parents("tr").children("td:nth-child(1)");
                    var CatNameCell = $(this).parents("tr").children("td:nth-child(2)");
                    var DescriptionCell = $(this).parents("tr").children("td:nth-child(3)");

                    if (flag)
                    {
                        var data = { CategoryID: CatIDCell.text(), CategoryName: CatNameCell.text(), Description: DescriptionCell.text() };


                        CatNameCell.unbind();
                        DescriptionCell.unbind();
                        $(this).html('Edit');
                        CatNameCell.children("p").attr("contenteditable", false);
                        DescriptionCell.children("p").attr("contenteditable", false);
                        flag = !flag;
                        $.post("/Cost/Update", data, function ()
                        {
                            location.reload();
                        });
                    }
                    else
                    {
                        $(this).html('Save');
                        CatNameCell.focusin(function () { $(this).addClass("border-info"); }).focusout(function () { $(this).removeClass("border-info"); });
                        DescriptionCell.focusin(function () { $(this).addClass("border-info"); }).focusout(function () { $(this).removeClass("border-info"); });
                        CatNameCell.children("p").attr("contenteditable", true);
                        DescriptionCell.children("p").attr("contenteditable", true);
                        flag = !flag;
                    }
                }
                $("#tb_cats>tbody").on("click", ":button[name='btn_Del']", Delete);
                function Delete()
                {
                    var CatID = $(this).parents("tr").children("td:nth-child(1)").text();
                    var CatName = $(this).parents("tr").children("td:nth-child(2)").text();
                    var Description = $(this).parents("tr").children("td:nth-child(3)").text();
                    $("#DeleteCatModal").attr("data-CatID", CatID);
                    $("#dd_CategoryName").text(CatName);
                    $("#dd_Description").text(Description);
                }

                $("#btn_ConfirmDelete").click(function ()
                {
                    var modal = $("#DeleteCatModal");
                    var CatID = modal.data("catid");
                    modal.modal("hide");
                    $.post("/Cost/Delete", { id: CatID }, function ()
                    {
                        location.reload();
                    });
                });
            }

        });
    </script>
}
