
@{
    ViewBag.Title = "儀錶板";
    ViewBag.Activity = "儀錶板";
}
@section style{



}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">進行中</h5>
                    <h2>2</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">待驗收</h5>
                    <h2>2</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">已驗收</h5>
                    <h2>2</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">已中止</h5>
                    <h2>2</h2>
                </div>
            </div>
        </div>
    </div>
</div>


@section script{


}