@model IEnumerable<ProjectManager.Models.TaskStatus>
@{
    ViewBag.Title = "任務階段";
}

<a href="~/TaskStatus/Insert" class="btn btn-warning">新增任務階段</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>任務階段編號</th>
            <th>任務階段名稱</th>
            <th>修改</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _taskStatus in Model)
        {
            <tr>
                <td>@_taskStatus.TaskStatusID</td>
                <td>@_taskStatus.TaskStatusName</td>
                <td><a href="~/TaskStatus/Edit/@_taskStatus.TaskStatusID" class="btn btn-primary">修改</a></td>
                <td><a href="~/TaskStatus/Delete/@_taskStatus.TaskStatusID" class="btn btn-danger">刪除</a></td>
            </tr>
        }

    </tbody>
</table>

