
@{
    ViewBag.Title = "Insert";
}

<h2>新增任務階段</h2>
<form method="post" action="~/TaskStatus/Insert" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-2 control-label">任務階段名稱</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="TaskStatusName" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">新增</button>
        </div>
    </div>
</form>


