<div class="mx-5 my-2 ">
    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" id="nav-repo-tab" href="~/ProjectDetails/ProjectReport" aria-controls="nav-home" aria-selected="true"><i class="fas fa-chart-bar"></i>&nbsp;&nbsp;專案報表</a>
            <a class="nav-item nav-link" id="nav-projectEdit-tab" href="~/ProjectDetails/ProjectEdit" aria-controls="nav-home" aria-selected="true"><i class="far fa-edit"></i>&nbsp;&nbsp;修改專案</a>
            <a class="nav-item nav-link" id="nav-projectDistribute-tab" href="~/ProjectDetails/ProjectDistribution" aria-controls="nav-addtask" aria-selected="true"><i class="fas fa-tasks"></i>&nbsp;&nbsp;工作項目</a>
            <a class="nav-item nav-link" id="nav-invitemember-tab" href="~/ProjectMember/Index" aria-controls="nav-invitemember" aria-selected="true"><i class="fas fa-users"></i>&nbsp;&nbsp;邀請成員</a>
            <a class="nav-item nav-link" id="nav-taskDistribute-tab" href="~/ProjectMember/AssignTask" aria-controls="nav-contact" aria-selected="false"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;分配工作</a>
        </div>
    </nav>
</div>
