<nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-home-tab" href="~/ProjectDetails/ProjectReport" role="tab" aria-controls="nav-home" aria-selected="true">專案報表</a>
        <a class="nav-item nav-link" id="nav-home-tab" href="~/ProjectDetails/ProjectEdit" role="tab" aria-controls="nav-home" aria-selected="true">修改專案</a>
        <a class="nav-item nav-link" id="nav-addtask-tab" href="~/ProjectDetails/ProjectDistribution" role="tab" aria-controls="nav-addtask" aria-selected="true">工作項目</a>
        <a class="nav-item nav-link" id="nav-invitemember-tab" href="~/ProjectMember/Index" role="tab" aria-controls="nav-invitemember" aria-selected="true">邀請成員</a>
        <a class="nav-item nav-link" id="nav-contact-tab" href="~/ProjectMember/AssignTask" role="tab" aria-controls="nav-contact" aria-selected="false">分配工作</a>
    </div>
</nav>
