@model IEnumerable<ProjectManager.Models.TaskDetailStatus>
@{
    ViewBag.Title = "待辦事項狀態";
}
<a href="~/TaskDetailStatus/Insert" class="btn btn-warning">新增事項</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>待辦事項編號</th>
            <th>待辦事項名稱</th>
            <th>修改</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _taskDetailStatus in Model)
        {
            <tr>
                <td>@_taskDetailStatus.TaskDetailStatusID</td>
                <td>@_taskDetailStatus.TaskDetailStatusName</td>
                <td><a href="~/TaskDetailStatus/Edit/@_taskDetailStatus.TaskDetailStatusID" class="btn btn-primary">修改</a></td>
                <td><a href="~/TaskDetailStatus/Delete/@_taskDetailStatus.TaskDetailStatusID" class="btn btn-danger">刪除</a></td>
            </tr>
        }

    </tbody>
</table>

