@model IEnumerable<ProjectManager.Models.Department>
@{
    ViewBag.Title = "Index";
}
<h2>部門</h2>
<a class="btn btn-default" href="~/Department/Insert/">新增部門</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>部門編號</th>
            <th>直屬部門名稱</th>
            <th>部門名稱</th>
            <th>修改</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _department in Model)
        {
            <tr>
                <td>@_department.DepartmentID</td>
                <td>
                    @if (@_department.ParentDepartmentGUID != null)
                    {
                        @_department.Department2.DepartmentName
                    }
                    else
                    {
                        <text>-</text>
                    }
                </td>
                <td>@_department.DepartmentName</td>
                <td><a class="btn btn-default" href="~/Department/Edit/@_department.DepartmentGUID">修改</a></td>
                <td><a class="btn btn-default" href="~/Department/Delete/@_department.DepartmentGUID">刪除</a></td>
            </tr>
        }
    </tbody>
</table>

