@model IEnumerable<ProjectManager.Models.Department>
@{
    ViewBag.Activity = "部門";
    ViewBag.Title = "新增部門";
}

<form method="post" action="~/Department/Insert" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">直屬部門名稱</label>
        <div class="col-sm-2">
            <select class="form-control" name="ParentDepartmentGUID">
                    <option value="0">-</option>
                    @foreach (var _department in Model)
                    {
                        <option value="@_department.DepartmentGUID">@_department.DepartmentName</option>
                    }
                </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">部門名稱</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="DepartmentName" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">新增</button>
        </div>
    </div>
</form>
