@model IEnumerable<ProjectManager.Models.ProjectMembers>
@{
    ViewBag.Title = "選擇成員";
}

@section style{
    <style>
        .MemberFlex_a {
            display: flex;
            flex-wrap: wrap;
            padding: 8% 15%;
        }

        .MemberLink {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
        }
        .Member p {
            width: 100%;
            color: #000;
            position: absolute;
            bottom: 0;
            text-align: center;
            line-height: 50px;
            margin: 0;
            background-color: #fff;
            border: 1px solid #808080;
        }

    </style>
}
@*<h2>選擇成員</h2>*@
<div class="MemberFlex_a">
    @foreach (var p in Model)
    {
        <div class="Member">
            <a class="MemberLink" href="@Url.Action("Index", "MyBoard",new { id= p.EmployeeGUID, EmployeeName= p.Employee.EmployeeName})"></a>
            <p>@p.Employee.EmployeeName</p>
        </div>
    }
</div>
@section script{
    <script>
        $(".Member").css({
            "width": "200px",
            "height": "150px",
            "background-color": "#000",
            "margin": "10px",
            "position": "relative",
            "border-radius": "15px 15px 0 0"
        });

        $(document).ready(function () {
            var breadProjecta = $(' <a> 選擇專案</a >').attr("href", "/SelectProject/Index");
            var breadProjectLi = $('<li></li>').append(breadProjecta);
            $('.breadcrumb>li').first().after(breadProjectLi);
        })
       
    </script>
}
