@model IEnumerable<ProjectManager.Models.ProjectMembers>
@{
    ViewBag.Title = "選擇成員";
}

@section style{
    <style>
        .MemberFlex_a {
            display: flex;
            flex-wrap: wrap;
            padding: 0 15%;
        }
        .card-footer:last-child {
            height: 100px;
        }
        h4:hover {
            text-decoration: none;
            cursor: pointer;
        }

        .bookMark {
            position: relative;
            top: -6px;
            float: right;
            margin-right: 0.5rem !important;
        }
        .rightOpenbtn {
            display: none;
        }
    </style>
}
@*<h2>選擇成員</h2>*@
<div class="MemberFlex_a mt-5">
    @foreach (var p in Model)
    {
        <a href='@Url.Action("Index", "MyBoard",new { id= p.EmployeeGUID, EmployeeName= p.Employee.EmployeeName})'>
            <div class="card d-inline-block mr-3 mb-2 mt-1" style="width:18rem;">
                <div class="card-header text-center text-muted ">
                    <div class="row align-items-center mx-0">
                        <div class="col pl-3">
                            <h6 class="mb-0">
                                @p.Employee.EmployeeName
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark pt-2 pb-3">
                   
                </div>
            </div>
        </a>
    }
</div>
@section script{
    <script>

        $(document).ready(function () {
            var breadProjecta = $(' <a> 選擇專案</a >').attr("href", "/SelectProject/Index");
            var breadProjectLi = $('<li></li>').append(breadProjecta);
            $('.breadcrumb>li').first().after(breadProjectLi);
        })
       
    </script>
}
