
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Login.css" rel="preload stylesheet" as="style">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <style>
        @@font-face {
            font-family: Noto Sans CJK TC;
            src: url(/Fonts/NotoSansCJKtc-Regular.otf)
        }

        *:not([class*="icon"]):not(i) {
            font-family: 'Noto Sans CJK TC', 'FontAwesome', 'Material Icons Extended', 'Material-Design-Icons', 'QualcommIcon', 'VideoJS', 'icons101', 'AmebaNewSymbols', 'videofont', 'ohpOffice365Icons', "anchorjs-icons", 'consumer-icons', 'tm-detail-font', 'iconfont', 'FabricMDL2Icons', 'Noto Emoji', Arial !important;
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 25px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 15px;
                width: 15px;
                left: 10px;
                bottom: 5px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: darkcyan;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
        .keepLogin {
            line-height: 25px;
            margin-bottom: 0 ;
            margin-left: 10px;
            
        }
        .keepLoginFlex {
            margin: 10px 0;
            display: flex;
            align-content: space-around;
        }

    </style>
</head>
<body>
    <section class="user">
        <div class="user_options-container">
            <div class="user_options-text">
                <div class="user_options-unregistered">
                    <h2 class="user_unregistered-title">專案管理系統</h2>
                    <p class="user_unregistered-text">ProjectManagementSystem</p>
                    <button class="user_unregistered-signup" id="signup-button">註冊</button>
                </div>

                <div class="user_options-registered">
                    <h2 class="user_registered-title">有帳號了?</h2>
                    <p class="user_registered-text">可以按下方按鈕登入帳號</p>
                    <button class="user_registered-login" id="login-button">登入</button>
                </div>
            </div>

            <div class="user_options-forms" id="user_options-forms">
                <div class="user_forms-login">
                    <h2 style="margin-bottom:15px" class="forms_title">登入</h2>
                    <div style="margin-bottom:10px" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label  class="btn btn-secondary active">
                            <input type="radio" name="options" id="dmAdmin" autocomplete="off"> 管理員
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="dmManager" autocomplete="off"> 主管
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="dmPM" autocomplete="off"> 專案經理
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="dmPG" autocomplete="off"> 工程師
                        </label>
                    </div>
                    <form method="post" action="~/Login/Login" class="forms_form">
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                <input id="logInMemberID" name="MemberID" type="text" placeholder="帳號" class="forms_field-input" required autofocus autocomplete="off" />
                            </div>
                            <div class="forms_field">
                                <input id="logInPassword" name="Password" type="password" placeholder="密碼" class="forms_field-input" required />
                            </div>
                            <span id="logIntext" class="mt-1 mb-1 badge badge-success"></span>
                        </fieldset>
                        <div class="keepLoginFlex">
                            <label class="switch ">
                                <input id="keepLogin" name="keepLogin" value="on" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <p class="keepLogin">保持登入</p>
                        </div>
                        <div class="forms_buttons">
                            @*<button type="button" class="forms_buttons-forgot">忘記密碼?</button>*@
                            <input id="logIn" type="button" value="登入" class="forms_buttons-action">
                        </div>
                    </form>
                </div>
                <div class="user_forms-signup">
                    <h2 class="forms_title">註冊</h2>
                    <form class="forms_form" method="post" action="~/Login/CreateAccount">
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                <input id="signInEmployeeID" name="EmployeeID" type="text" placeholder="員工編號" class="forms_field-input" required />
                            </div>
                            <div class="forms_field">
                                <input id="signInMemberID" name="MemberID" type="text" placeholder="帳號" class="forms_field-input" required />
                            </div>
                            <div class="forms_field">
                                <input id="signInPassword" name="Password" type="password" placeholder="密碼" class="forms_field-input" required />
                            </div>
                            <span id="signIntext" class="badge badge-danger"></span>
                        </fieldset>                       
                        <div class="forms_buttons">
                            <input id="signIn" type="button" value="註冊" class="forms_buttons-action">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/login.js"></script>
    <script>
        $(document).ready(function () {
            $('#dmAdmin').click(function () {
                $('#logInMemberID').val('admin');
                $('#logInPassword').val('admin');
            })
            $('#dmPM').click(function () {
                $('#logInMemberID').val('ji3g4vul3eji');
                $('#logInPassword').val('ji3g4vul3eji');
            })
            $('#dmManager').click(function () {
                $('#logInMemberID').val('100021');
                $('#logInPassword').val('100021');
            })
            $('#dmPG').click(function () {
                $('#logInMemberID').val('100003');
                $('#logInPassword').val('100003');
            })
            $('#logIn').click(function () {

                var MemberID = $('#logInMemberID').val();
                var Password = $('#logInPassword').val();
                var keepLogin = $('#keepLogin').prop("checked");
                var loginmsg = $('#logIntext');
                if (loginmsg.hasClass('badge badge-danger')) {
                    loginmsg.text("");
                    loginmsg.removeClass('badge badge-danger').addClass('badge badge-success');

                }
                $.ajax({
                    url: "Login",
                    method: "Post",
                    data: { "MemberID": MemberID, "Password": Password, "keepLogin": keepLogin },
                    datatype: "json"
                }).done(function (data) {
                    var msg = "登入成功";
                    if (parseInt(data) == 0) {
                        msg = "帳號密碼錯誤";
                        loginmsg.removeClass('badge badge-success').addClass('badge badge-danger');
                    } else
                    {
                        window.location.pathname = "/Home/Index/";
                    }
                    loginmsg.text(msg);
                });
            })

            $('#signIn').click(function () { 
                var MemberID = $('#signInMemberID').val();
                var Password = $('#signInPassword').val();
                var EmployeeID = $('#signInEmployeeID').val();
                var signInMsg = $('#signIntext');
                if (signInMsg.hasClass('badge badge-success'))
                {
                    signInMsg.text("");
                    signInMsg.removeClass('badge badge-success').addClass('badge badge-danger');
                }
                  
                $.ajax({
                    url: "CreateAccount",
                    method: "Post",
                    data: { "MemberID": MemberID, "Password": Password, "EmployeeID": EmployeeID },
                    dataType: "json"
                }).done(function (data) {
                    var msg = "註冊失敗";
                    if (parseInt(data) == 1)
                    {
                        msg = "註冊成功";
                        signInMsg.removeClass('badge badge-danger').addClass('badge badge-success');
                    }
                    signInMsg.text(msg);
                    
                    });
               
            })
           
        })
    </script>
</body>
</html>
