@model IEnumerable<ProjectManager.Models.Project>
@{
    ViewBag.Title = "選擇專案";
}
@section style{
<style>
    .ProjectFlex_a {
        display: flex;
        flex-wrap:wrap;
    }
    .projectLink {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
    }
    .progressBar {
        position: absolute;
        top: 37.5%;
        left: 50%;
        margin-left: -70px;
        background-color: #fff;
        width: 140px;
        height: 20px;
        margin-top: -10px;
        border-radius: 5px;
    }
    .bar {
        position: absolute;
        top: 37.5%;
        left: 50%;
        margin-left: -70px;
        background-color: #ffd800;
        width: 100px;
        height: 20px;
        margin-top: -10px;
        border-radius: 5px 0 0 5px;
    }
    .barNum {
        position: absolute;
        top: 37.5%;
        left:40px;
        margin-top: -12px;
    }
    .project p {
        width: 100%;
        color: #000;
        position: absolute;
        bottom: 0;
        text-align: center;
        line-height: 50px;
        margin: 0;
        background-color: #fff;
        border: 1px solid #808080;
    }
</style>
}
<div class="ProjectFlex_a">
    @foreach (var p in Model)
    {
    <div class="project">
        <a class="projectLink" href="@Url.Action("Index", "SelectMBoar",new {id=p.ProjectGUID })"></a>
        <div class="progressBar"></div>
        <div class="bar"></div>
        <span class="barNum">50%</span>
        <p>@p.ProjectName</p>
    </div>
    }
</div>
@section script{
    <script>
        $(".project").css({
            "width": "200px",
            "height": "150px",
            "background-color": "#000",
            "margin": "10px",
            "position": "relative",
            "border-radius": "15px 15px 0 0"
        });
    </script>
}